.loginBackground{
	border: 0px solid #F5F5F5;
	border-radius: 0px;
}
.loginButton{
	outline: none;
	width: 100%;
	text-align: center;
	cursor: pointer;
	padding: 5px 0;
	margin: 30px 20px 0 20px;
	color: #FFFFFF;
	border-radius: 0;
	border: 1px solid #FFFFFF;
	background-color: #3399CC;
	text-shadow: black;
	font-weight: 500;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
}
.loginButton:hover{
	color: #3399cc;
	background-color: #ffffff;
	border: 1px solid #3399CC;
}

input.loginInput{
	outline: none;
	width: 100%;
	padding: 3px 0;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 2px solid #666666;
	border-radius: 0;
	background-color: transparent;
	text-align: center;
	font-weight: 500;
	transition: ease-in-out;
	transition-duration: 1s;
}

input.loginInput:focus {
	outline: none;
	width: 100%;
	padding: 3px 0;
	border-top: 1px solid #3399CC;
	border-left: 1px solid #3399CC;
	border-right: 1px solid #3399CC; 
	border-bottom: 2px solid #3399CC;
	border-radius: 0;
	background-color: #FFFFFF;
	text-align: center;
	font-weight: 500;
}
input::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
input:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
input:focus::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
	color: transparent;
}
input:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
    color: transparent;
}
input:focus::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
    color: transparent;
}
input:focus:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
    color: transparent;
}
div#anno-no-show-div.anno-no-show-div-style{
	display: none;
}
