div.sendTextArea-and-sendbtn{
	position: relative;
	font-size: medium;
	width: 100%;
}
div#username{
	display: inline;
	display: inline-block !important;
	width: auto;
	height: 1.5em;
	margin: 1px 1px 2px 0;
	padding: 1px 5px;
	background-color: #4FC3F7;
	border-radius: 10px;
	font-weight: 400;
}
div#username span{
	color: white;
	font-weight: 500;
	font-size: 1em;
}
textarea.sendboxTextArea{
	outline: none;
	resize:none;
	display: block;
	width: 100%;
	border-top: 1px transparent;
	border-left: 1px transparent;
	border-right: 1px transparent;
	border-bottom: 2px solid #666666;
	border-radius: 0;
	padding: 7px 0 0 0;
	background-color: transparent;
	font-weight: 500;
	font-size: 1em;
	transition: ease-in-out;
	transition-duration: 1s;
}
textarea.sendboxTextArea:focus{
	border-bottom: 2px solid #0099CC;
}
textarea::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
	color: #666666;
	transition: ease-in-out;
	transition-duration: 1s;
}
textarea:focus::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
	opacity: 0.3;
}
textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
    color: #BDCADA;
}
textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
    color: #BDCADA;
}
textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
    color: #BDCADA;
}
button{
	border: none;
	background: transparent;
	outline: none;
	padding: 0;
	position: absolute;
	margin-top: 1em;
}

.sendboxSendButton{
	right: 0;
}

.sc-btn{
	right: 2em;
}