*{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  }
  div.chatboxAndSendmessage{
    position: relative;
    width: 100%;
    min-height: 602px;
    border: 1px solid gainsboro;
    background-color: #F9F9F9;
  }
  div.sendbox_login_panel_bg{
    position: absolute;
    top: 450px;
    width: 100%;
    padding: 20px;
    min-height: 150px;
    background-color: white;
  }
  div#announcement{
    width: 100%;
    min-height: 100px;
    background-color: transparent;
    border: 1px solid grey;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 20px 0;
  }
  div.chat-container-bg{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  div#gotobottom.gotobottom-style{
    position: relative;
    display: none;
  }
