.sc-float-container{
    display: flex;
    position: relative;
}
.sc-float-item{
    position: relative;
    border-radius: 10px;
}
.sc-float-name, .sc-float-money{
    color: white;
}

.mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: .6;
    animation: grayDispear var(--playTime) linear forwards;
    overflow: hidden;
}

@keyframes grayDispear {
    0%{
        width: 100%;
    }
    100%{
        width: 0%;
    }
}