div.list-container {
  position: relative;
  height: 450px;
  border-radius: 0;
  background-color: transparent;
  overflow: auto;
<<<<<<< HEAD
}
div.scrollbar{
  width : 30px;
  height: auto;
  margin: 0 auto;
}
div#list-container.list-container::-webkit-scrollbar{
  width: 10px;
  height: 1px;
}
div#list-container.list-container::-webkit-scrollbar-thumb{
  border-radius: 0px;
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); */
  background   : #CCCCCC;
}
div#list-container.list-container::-webkit-scrollbar-track{
  /* box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2); */
  border-radius: 0px;
  background   : #ededed;
}
div#list-item.list-item-style{
  line-height: 25px;
  margin: 0 10px;
  font-weight: 500;
}
div#list-item span{ 
  display:inline-block !important; 
  display:inline;
  font-weight: 600;
}
span#list-item-name.list-item-name-style{
  margin: 2px;
  border-radius: 10px;
  background-color: aqua;
  padding: 0 5px;
  color: white;
  font-weight: 300;
}
span#list-item-content.list-item-content-style{
  margin: 3px;
  padding: 0 2px;
  color: black;
  font-weight: 650;
}
=======
  padding: 8px 8px;
  height: 382px;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
>>>>>>> 61d9dbc3267fe64cb03d79c226441d425322161a
