div#gotobtn-div.gotobtn-div-style{
    position: relative;
	font-size: medium;
}
button#gotobottom-btn.gotobottom-btn-style{
    position: absolute;
    top: 400px;
    left: 50%;
    border: none;
	background: transparent;
	outline: none;
	padding: 0;
	position: absolute;
	margin-top: 1em;
	right: 0;
}