span{
    font-weight: 700;
}
.letter {
    display: inline-block;
    -webkit-transform: translateZ(25px);
    transform: translateZ(25px);
    -webkit-transform-origin: 50% 50% 25px;
    -ms-transform-origin: 50% 50% 25px;
    transform-origin: 50% 50% 25px;
}
.letter.out {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.letter.behind {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.letter.in {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
span#number_letter{
    display: inline;
	display: inline-block !important;
	margin: 1px 1px 2px 0;
	padding: 0px 5px;
	background-color: #003366;
    border-radius: 10px;
    color: white;
}