span#video-arousal-control-span.video-arousal-control-span-style{
    font-family: 'Economica','AaFangmeng', sans-serif;
    font-weight: 700;
    display: inline-block;
    font-size: 2em;
}
div#video-control-panel-div.video-control-panel-div-style{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1em;
    background-color: transparents;
}
button#video-arousal-control-btn.video-arousal-control-btn-style{
    outline: none;
    width: 100%;
    border: 1px solid #0099CC;
    border-radius: 0;
    background-color: transparent;
    color: #0099CC;
}
button#video-arousal-control-btn.video-arousal-control-btn-style:hover{
    border: 1px solid #0099CC;
    border-radius: 0;
    background-color: #0099CC;
    color: white;
}
div#video-control-panel-center.video-control-panel-center-style{
    position: absolute;
    bottom: 30%;
    left: 30%;
    width: 600px;
    height: 325px;
    position: fixed;
    display: none;
    background-color: white;
    z-index:1002;
}
div#fade-background-div.fade-background-div-style{
    display: none;
    position: fixed;
	z-index:1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	filter: alpha(opacity=80);
	opacity: 0.8;
	overflow: hidden;
	background-color: #000;
}
button#panel-close-btn.panel-close-btn-style{
    outline: none;
    position: absolute;
    right: 0;
    border: 0;
    background-color: transparent;
    margin-right: 0.4em;
    margin-top: 0.8em;
    z-index: 1003;
}
div#url-div.url-div-style{
    position: relative;
    padding: 1em 2em;
}
div#video-url-div.video-url-div-style{
    position: relative;
    width: 100%;
    height: 100px;
    border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 2px solid #0099CC;
}
div#live-url-div.live-url-div-style{
    position: relative;
    width: 100%;
    height: 100px;
    border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 2px solid #0099CC;

}
span#video-url-span.video-url-span-style,span#live-url-span.live-url-span-style{
    position: absolute;
    top: 50%;
    font-size: 1.5em;
    font-family: 'Economica','AaFangmeng', sans-serif;
    font-weight: 700;
    padding: 0.5em;
}

input#video-url-input.video-url-input-style{
    position: absolute;
    top: 55%;
    width: 90%;
    font-size: 1.5em;
}

input#live-url-input.live-url-input-style{
    display: none;
    position: absolute;
    top: 55%;
    width: 90%;
    font-size: 1.5em;
}

button#video-url-btn.video-url-btn-style{
    outline: none;
    border: 0;
    position: absolute;
    top: 4.2em;
    right: 0;
    background-color: transparent;
}

button#live-url-btn.live-url-btn-style{
    outline: none;
    border: 0;
    position: absolute;
    top: 4.2em;
    right: 0;
    background-color: transparent;
}
span#rtmp-address-span.rtmp-address-span-style{
    margin: 0 0.3em;
    color: #FF6666;
    font-weight: 650;
}
span#post-info-span.post-info-span-style{
    margin: 0 0.3em;
    color: #FF0033;
    font-weight: 650;
}
