.loginBackground{
	border: 0px solid #F5F5F5;
	border-radius: 4px;
	background-color: #FFE4E1;
	height: 100px;
	padding: 8px 24px;
	margin: 0 -10px 3px -10px;
}
.loginDivMarginAuto{
	margin: 0 auto;
}
.loginButton{
	margin: 5px 0;
}
.loginInput{
	margin: 3px 0 0 0;
}