.loginBackground{
	border: 1px solid #F5F5F5;
	border-radius: 4px;
	background-color: #F5F5F5;
	height: 100px;
	padding: 8px 24px;
}
.loginDivMarginAuto{
	margin: 0 auto;
}
.loginButton{
	margin: 5px 0;
}
.loginInput{
	margin: 3px 0 0 0;
}