.sendboxTextArea{
	border: 0px solid #DCDCDC;
	border-radius: 4px;
	background-color: #FFFAF0;
}
.sendboxSendButton{
	margin: 5px 0 -6px 0;
	position: relative;
	right: -75px;
}
.textareaAndButtonbg{
	border: 0px solid #DCDCDC;
	border-radius: 4px;
	background-color: #FFF5EE;
}
.audiostyle{
	border: 1px solid green;
	width: 150px;
	height: 50px;
}